.todays-plan {
  padding: 20px;
  margin-left: 25%;
  width: 600px;
  border-radius: 16px;
  background: transparent;
  border: 1px solid white;
}

.todays-plan h2 {
  text-align: center;
  margin-bottom: 16px;
  color: #333;
}

.plan-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  gap: 16px;
}

.plan-card {
  background-color: transparent;
  border-radius: 12px;
  padding: 16px;
  text-align: center;
  border: 3px solid #5fa8bb;
}

.plan-card h3 {
  margin-bottom: 6px;
  color: #4f46e5;
}

.plan-card p {
  font-size: 0.95rem;
  margin-bottom: 8px;
  color: #555;
}

.plan-card span {
  font-weight: bold;
  color: #111;
}
