.plusButton {
  /* Config start */
  --plus_sideLength: 50px; /* Set to match your other buttons */
  --plus_topRightTriangleSideLength: 12px;
  /* Config end */
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc; /* Subtle border */
  width: var(--plus_sideLength);
  height: var(--plus_sideLength);
  background-color: #059669;
  overflow: hidden;
  padding: 0;
  cursor: pointer;
  border-radius: 8px; /* Optional: adds a slight roundness to the square */
}

.plusButton::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border-width: 0 var(--plus_topRightTriangleSideLength) var(--plus_topRightTriangleSideLength) 0;
  border-style: solid;
  border-color: transparent white transparent transparent;
  transition-timing-function: ease-in-out;
  transition-duration: 0.3s;
}

.plusButton:hover::before {
  --plus_topRightTriangleSideLength: calc(var(--plus_sideLength) * 2.5);
}

.plusButton > .plusIcon {
  fill: white;
  width: calc(var(--plus_sideLength) * 0.6);
  height: calc(var(--plus_sideLength) * 0.6);
  z-index: 1;
  transition: all 0.3s ease-in-out;
}

.plusButton:hover > .plusIcon {
  fill: black;
  transform: rotate(180deg);
}

/* Fix for active state (when clicking) */
.plusButton:active {
  transform: scale(0.95);
}